
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <input id="user-id" th:value="${user.id}" type="hidden" >

            <div class="row form-group">
                <div class="col-6">
                    <label for="firstname">First name</label>
                    <input type="text" class="form-control" th:value="${user.firstname}" id="firstname" placeholder="Enter first name...">
                </div>
                <div class="col-6">
                    <label for="lastname">Last name</label>
                    <input type="text" class="form-control" th:value="${user.lastname}" id="lastname" placeholder="Enter last name...">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-6">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" th:value="${user.email}" id="email" placeholder="Enter email...">
                </div>
                <div class="col-6">
                    <label for="phone">Phone number</label>
                    <input type="text" class="form-control" th:value="${user.phone}" id="phone" placeholder="Enter phone...">
                </div>
            </div>

        </div>
        <!-- Modal Footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="saveChanges()">Save</button>
        </div>
    </div>
</div>