<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <input id="item-id" type="hidden" th:value="${item.id}">

            <div class="form-group">
                <label for="user-id">Code</label>
                <select class="form-control py-0" id="user-id">
                    <option th:each="user : ${users}"
                            th:text="${user.firstname + ' ' + user.lastname}"
                            th:value="${user.id}"
                            th:selected="${user.id == item.userId}"
                    ></option>
                </select>
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <select id="status" class="form-control py-0">
                    <option value="0" th:selected="${item.status == false}">Not yet</option>
                    <option value="1" th:selected="${item.status == true}">Received</option>
                </select>
            </div>

            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control py-2" id="image" name="image">
            </div>

        </div>
        <!-- Modal Footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-sm btn-primary" onclick="saveItem()">Save</button>
        </div>
    </div>
</div>