<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Manage Invoice</title>
</head>

<div layout:fragment="page-header" class="container-fluid row align-items-center">
    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
        <a th:href="@{/rooms}" class="h2 mb-0 ls-tight">Manage Invoice</a>
    </div>

    <div onclick="openForm('add')" class="col-sm-6 col-12 text-sm-end">
        <div class="mx-n1">
        <span class="btn d-inline-flex btn-sm btn-primary mx-1">
            <span class="pe-2 d-flex align-items-center"><i class="bi bi-plus"></i></span>
            <span>Create Invoice</span>
        </span>
        </div>
    </div>
</div>

<th:block layout:fragment="content">
    <div id="content-wrapper" class="mt-2">
        <div class="col-5 my-2 d-flex align-items-center">
            <input id="search" type="text" class="col-9 form-control" placeholder="Search here...">
            <button type="button"
                    onclick="loadTable()"
                    class="btn btn-sm mx-2 d-flex align-items-center justify-content-center"
                    th:style="'width: 35px; height:35px; border-radius: 50%; box-shadow: -5px 1px 10px #bcbcbc, -7px -7px 15px #ffffff'">
                <i class="bi bi-search"></i>
            </button>
        </div>
        <div id="list-invoices" ></div>
        <div id="form-modal" class="modal fade" tabindex="-1"></div>
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js"
            integrity="sha512-r6rDA7W6ZeQhvl8S7yRVQUKVHdexq+GAlNkNNqVC7YyIV+NwqCTJe2hDWCiffTyRNOeGEzRRJ9ifvRm/HCzGYg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

    <script th:inline="javascript">
        $(document).ready(function (){
            loadTable();

            $('#search').on('keydown', function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    loadTable();
                }
            });
        })

        function openForm(mode, id){
            const url = mode === "add" ? "/invoices/create" : "/rooms/" + id;
            $.ajax({
                url: url,
                type: "GET",
                success: function (data) {
                    const formModal = $("#form-modal");
                    formModal.html(data);
                    formModal.modal('show');
                }
            });
        }

        function loadTable(page = 1){
            $.ajax({
                url: "/invoices/list",
                type: "GET",
                data: {currentPage: page},
                success: (data) => {
                    $("#list-invoices").html(data)
                },
                error: (err) => {
                    console.log("[GET] "+ location.href + ":", err)
                }
            })
        }

        function createPayment(id){
            console.log("Pay for invoice id:", id)
            $.ajax({
                url: "payments/"
            })
        }

        function saveInvoice(){
            const formData = {

            }

            $.ajax({
                url: "/invoices",
                type: "POST",
                data: formData,
                success: (data)=> {
                    console.log("function saveRoom():", data)
                    $.alert(data.message)
                    loadTable();
                }
            })
        }
    </script>
</th:block>