<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{mainLayout}"
>
<head>
    <meta charset="UTF-8" />
    <title>Profile</title>
</head>
<th:block layout:fragment="content">
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                <h2>Your Profile</h2>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <img src="https://placehold.co/150" width="200px" height="200px" class="img-fluid rounded-circle object-fit-cover" alt="Avatar" id="avatarPreview">
                    </div>
                    <div class="col-sm-9">
                        <div class="row mb-3">
                            <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstName" placeholder="John">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="lastName" placeholder="Doe">
                            </div>
                        </div>

                        <div class="row form-group mb-2 d-flex align-items-center">
                            <span class="col-sm-2 col-form-label">Change passsword</span>
                            <div class="row col-sm-10 d-flex justify-content-between" th:style="${'padding-right:0'}">
                                <div class="col-6 pr-0">
                                    <input type="text" class="form-control" id="old-pass" placeholder="old password">
                                </div>
                                <div class="col-6 pr-0">
                                    <input type="text" class="form-control" id="new-pass" placeholder="new password">
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="avatarUpload" class="col-sm-2 col-form-label">Avatar</label>
                            <div class="col-sm-10">
                                <input type="file" onchange="renderAvatar(this)" id="avatarUpload" class="form-control">
                            </div>
                        </div>

                        <div class="d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-sm btn-primary mx-2" id="change-password">Change Password</button>
                            <button type="button" class="btn btn-sm btn-primary mx-2" id="change-avatar">Change Avatar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        function renderAvatar(that){
            const avatarPreview = $('#avatarPreview');
            const file = that.files[0];
            console.log(file);
            if (file) {
                const reader = new FileReader();
                reader.onload = function() {
                    avatarPreview.attr('src', reader.result);
                };
                reader.readAsDataURL(file);
            }
        }

        function updatePassword(){
            const oldPassword = $('#old-pass').val();
            const newPassword = $('#new-pass').val();

            const requestData = {
                oldPassword: oldPassword,
                newPassword: newPassword
            };

            $.ajax({
                type: 'POST',
                url: '/users/change-password',
                contentType: 'application/json',
                data: JSON.stringify(requestData),
                success: function(response) {
                    console.log('Password changed successfully');
                },
                error: function(xhr, status, error) {
                    console.error('Error changing password:', error);
                }
            });
        }

        function updateAvatar(){

        }

    </script>
</th:block>

