<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{mainLayout}"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8" />
    <title>Register for relatives</title>
</head>

<div layout:fragment="page-header" class="container-fluid row align-items-center">
    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
        <a th:href="@{/relative-registration}" class="h2 mb-0 ls-tight">Register for relatives</a>
    </div>

    <div sec:authorize="hasAuthority('ADMIN')" onclick="openForm('add')" class="col-sm-6 col-12 text-sm-end">
        <div class="mx-n1">
        <span class="btn d-inline-flex btn-sm btn-primary mx-1">
            <span class="pe-2 d-flex align-items-center"><i class="bi bi-plus"></i></span>
            <span>Create new</span>
        </span>
        </div>
    </div>
</div>

<th:block layout:fragment="content">
    <div id="content-wrapper" class="mt-2">
        <div class="col-5 my-2 d-flex align-items-center">
            <input id="search" type="text" class="col-9 form-control" placeholder="Search here...">
            <button type="button"
                    onclick="loadTable()"
                    class="btn btn-sm mx-2 d-flex align-items-center justify-content-center"
                    th:style="'width: 35px; height:35px; border-radius: 50%; box-shadow: -5px 1px 10px #bcbcbc, -7px -7px 15px #ffffff'">
                <i class="bi bi-search"></i>
            </button>
        </div>
        <div id="list-relatives" ></div>
        <div id="form-relatives" class="modal fade" tabindex="-1"></div>
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        const token = $("meta[name='_csrf']").attr("content");
        const header = $("meta[name='_csrf_header']").attr("content");

        $(document).ready(function (){
            loadTable()
            $('#search').on('keydown', function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    loadTable();
                }
            });
        })

        function openForm(mode, id){
            const url = mode === "add" ? "/relative-registration/create" : "/relative-registration/" + id;
            $.ajax({
                url: url,
                type: "GET",
                success: function (data) {
                    const formModal = $("#form-relatives");
                    formModal.html(data);
                    formModal.modal('show');
                }
            });
        }

        function loadTable(page){
            const keyword = $("#search").val();
            $.ajax({
                url: "/relative-registration/list",
                type: "GET",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                data: { currentPage: page, keyword: keyword },
                success: (data) => {
                    $("#list-relatives").html(data);
                }
            });
        }

        function saveChangesRelative(){
            const formData = {
                id: $('#register-id').val(),
                userId: $('#user-id').val(),
                relativeName: $('#relativeName').val(),
                relativePhone: $('#relativePhone').val(),
                relationship: $('#relationship').val(),
                vehicleRegistrationNumber: $('#vehicleRegistrationNumber').val(),
                expiryDate: $('#expiryDate').val(),
            };

            console.log(formData)

            $.ajax({
                url: '/relative-registration',
                type: 'POST',
                data: formData,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function(response) {
                    $.alert(""+response.message);
                    loadTable();
                }
            });
            console.log(formData)
        }

        function deleteRelative(id){
            $.confirm({
                title: "Notification!",
                content: "Do you want to delete it!",
                buttons: {
                    confirm: function () {
                        $.ajax({
                            url: "/relative-registration/delete/"+id,
                            type: "DELETE",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader(header, token);
                            },
                            success: function(response) {
                                $.alert(""+response.message);
                                loadTable();
                            }
                        });
                    },
                    cancel: function () {},
                },
            });
        }
    </script>
</th:block>

